---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Dec 2022 - Present",
    title: "Senior Technical Architect - Palo Alto Networks",
    company: "CDW",
    description: [
      "Design, Develop, and Deliver services based on Palo Alto Networks products and Solutions",
      "Perform sales and engineering enablement activities",
      "Act as a general Palo Alto Networks Subject Matter Expert (SME)"
    ],
  },
  {
    date: "Apr 2022 - Dec 2022",
    title: "Senior Consulting Engineer - Network Security",
    company: "CDW",
    description: [
      "Led engineering teams on global migration projects to Palo Alto and Cisco firewalls across a range of industries including finance, government, health care, education, and retail",
      "Owner and developer for Palo Alto and Cisco Firepower automation tools for Security Delivery team",
      "Served as a technical expert and point of escalation for clients and internal teams for Palo Alto and Cisco firewalls"

    ],
  },
  {
    date: "Sept 2019 - Apr 2022",
    title: "Consulting Engineer - Network Security",
    company: "CDW",
    description: [
      "Delivered dozens of firewall installations and migrations for physical and virtual Palo Alto and Cisco firewalls on-premises, AWS, Azure, and Alibaba cloud according to industry best practices",
      "Spearheaded initiative to build automation capabilities across the Network Security delivery team",
      "Reduced time and effort required to complete Cisco ASA health assessments by 95%",
      "Co-authored redesign of Associate Consulting Engineer program to improve quality of curriculum",
      "Collaborated with Sales and Technical teams to develop new services around Cisco SecureX"
    ]
  },
  {
    date: "Apr 2018 - Apr 2019",
    title: "Associate Consulting Engineer - Network Security",
    company: "CDW",
    description:
    [
      "Completed rigorous training program to acquire technical and consulting skills for Network Security",
      "Created custom script to validate migration of firewall security policies, reducing time to project completion by 6 months",
      "Established and led weekly sessions focused on fostering collaboration and growth of all Network Security Associate Engineers"
  ]
    },
  {
    date: "Sept 2017 - Apr 2018",
    title: "Associate Access Control Analyst",
    company: "Duluth Trading Company",
    description: 
    [
      "Granted and revoked user access as per existing Role Based Access Control policies",
      "Designed and documented user access policies to ensure security and compliance",
      "Developed PowerShell scripts to automate access review for compliance with the Sarbanes-Oxley Act",
      "Configured, analyzed and responded to alarms generated in AlienVault’s USM SEIM"
  ]
  },
  {
    date: "Jul 2014 - Jul 2016",
    title: "Technical Services",
    company: "Epic",
    description: 
    [
      "Acted as mentor to incoming Technical Services staff to ensure successful onboarding",
      "Directed client analysts in the set-up, installation, and maintenance of software to ensure smooth operation",
      "Executed system audits to maximize end user efficiency and improve client financial metrics ",
      "Orchestrated major system upgrade while overseeing five-person client analyst team",
      "Educated hospital executives and analysts about new functionality while demonstrating value added to daily tasks",
      "Served as subject matter expert on Resolute Professional Billing application"
  ]
  },
  
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
