
--color-gold-50:   #fffcf2;
--color-gold-100:  #fff3cc;
--color-gold-200:  #ffe49a;
--color-gold-300:  #ffd369;
--color-gold-400:  #ffc342;
--color-gold-500:  #f4ae1b;
--color-gold-600:  #d49100;
--color-gold-700:  #b27700;
--color-gold-800:  #8f5f00;
--color-gold-900:  #704a00;
--color-gold-950:  #3f2a00;

--color-lemon-50:   #fffff5;
--color-lemon-100:  #fefdcf;
--color-lemon-200:  #fdf79f;
--color-lemon-300:  #faef6b;
--color-lemon-400:  #f7e444;
--color-lemon-500:  #eccf13;
--color-lemon-600:  #c9ad05;
--color-lemon-700:  #a08c04;
--color-lemon-800:  #7b6d03;
--color-lemon-900:  #5f5402;
--color-lemon-950:  #362e01;


--color-sky-50:   #f0f9ff;
--color-sky-100:  #d2f0ff;
--color-sky-200:  #a5e4ff;
--color-sky-300:  #70d2fa;
--color-sky-400:  #3bbef0;
--color-sky-500:  #1aa6e6;
--color-sky-600:  #0b88c5;
--color-sky-700:  #0b6fa5;
--color-sky-800:  #0c5b86;
--color-sky-900:  #0e476e;
--color-sky-950:  #062c45;

--color-aqua-50:   #e8fdfd;
--color-aqua-100:  #c0f9f7;
--color-aqua-200:  #90f2ef;
--color-aqua-300:  #5ae7e6;
--color-aqua-400:  #2dd7d8;
--color-aqua-500:  #14bcc3;
--color-aqua-600:  #0c9da7;
--color-aqua-700:  #0b7d87;
--color-aqua-800:  #0d616d;
--color-aqua-900:  #0f4f5b;
--color-aqua-950:  #06363e;
